.content-wrapp {
    background-color: var(--clr-secondary);
    flex: 1;
    padding: 32px;
}


/* @media screen and (max-width: 1400px) { */
@media screen and (max-width: 1200px) {
    .content-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
}